django==5.2.8
daphne

# Django Channels for WebSocket support
channels

# Redis client
redis
channels_redis

# PostgreSQL
psycopg2-binary

# environment variables management
python-decouple

# pytest
pytest
pytest-django
pytest-asyncio

# Reformat code
black
flake8