Django==5.2.8
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-celery-beat==2.8.1
django-timezone-field==7.1
sqlparse==0.5.4

asgiref==3.8.1
channels==4.2.2
channels_redis==4.2.1
daphne==4.1.2
Twisted==24.11.0
autobahn==24.4.2

celery==5.5.1
kombu==5.5.3
amqp==5.3.1
billiard==4.2.1
vine==5.1.0
python-crontab==3.3.0
cron_descriptor==2.0.5

black==25.1.0
flake8==7.2.0
pytest==8.3.5
pytest-django==4.11.1
pytest-celery==1.2.0
pytest_docker_tools==3.1.9

click==8.2.1
debugpy==1.8.15
docker==7.1.0
python-decouple==3.8
psutil==7.0.0
setuptools==80.8.0

cryptography==45.0.3
pyOpenSSL==25.1.0
PyJWT==2.9.0
service-identity==24.2.0
idna==3.12

requests==2.32.4
urllib3==2.5.0
python-dateutil==2.9.0.post0
charset-normalizer==3.4.2
msgpack==1.1.0

attrs==25.3.0
typing_extensions==4.13.2
packaging==25.0

prompt_toolkit==3.0.51
wcwidth==0.2.13

psycopg2-binary==2.9.10
