{% extends "layout.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}"/>
{% endblock link %}

{% block nav %}
    <!-- 🔙 Back Arrow Icon -->
    <a href="#">
        <
    </a>
    
    <!-- Account text -->
    <a class="special_text" href="#">
        <span>ACCOUNT</span>
    </a>

    <!-- 🏠 Home Icon -->
    <a class="special_icon" href="#">
        <svg viewBox="0 0 64 64">
            <path d="M32 12 L12 32 H20 V52 H28 V40 H36 V52 H44 V32 H52 Z"/>
        </svg>
    </a>
    

    <!-- 👤 Profile Icon -->
    <a href="#">
        <svg viewBox="0 0 64 64">
            <circle cx="32" cy="20" r="12"/>
            <path d="M16 52 C16 40, 48 40, 48 52 Z"/>
        </svg>
    </a>
{% endblock nav %}


{% block content %}
<p>{{ profile.business_manager }}</p>
<p>
    {% for worker in profile.business_manager_workers %}
        <p>{{worker}}</p>
        {% empty %}
        <p>no worker found</p>
    {% endfor %}
</p>
{% endblock %}
