{% extends "layout.html" %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}"/>
{% endblock link %}

{% block special_text %}
<a class="special_text" href="{% url 'app-accounts:app-profile' %}">
    <span>ACCOUNT</span>
</a>
{% endblock special_text %}

{% block special_icon %}
<a class="special_icon" href="{% url 'app-accounts:app-profile' %}">
    <svg viewBox="0 0 64 64">
        <circle cx="32" cy="20" r="12"/>
        <path d="M16 52 C16 40, 48 40, 48 52 Z"/>
    </svg>
</a>
{% endblock special_icon %}
