{% extends "accounts/account-layout.html" %}
{% load static %}



{% block content %}

    {% if profile.worker %}

        <h1 class="profile-h1">{{ profile.worker }}</h1>

        {# Show all working times #}
        <h4 class="profile-h4"> {{profile.worker}}'s working times </h4>
        {% include "accounts/partials/show_working_times.html" with working_times=profile.working_times %}
        
    {% endif %}

    {% if profile.manager %}

        <h1 class="profile-h1">{{ profile.manager }}</h1>

        {# Show all workers informations #}
        <h2 class="profile-h2">Staff</h2>
        <div class="profile-workers-list">
            {% for worker in profile.workers %}
            <div class="worker-card">
                <h3 class="profile-h3">{{worker}}</h3>
                
                {# Show all working times #}
                <h4 class="profile-h4"> {{worker}}'s working times </h4>
                {% include "accounts/partials/show_working_times.html" with working_times=worker.working_times.all %}
            </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'js/accounts.js' %}"></script>
{% endblock script %}

