{% extends "layout.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/products.css' %}"/>
{% endblock link %}


{% block special_icon %}
<a href="{% url 'template-products:list' %}">
    <svg width="48" height="48" viewBox="0 0 100 80">
            <!-- Bullet 1 -->
            <circle cx="15" cy="20" r="5" fill="#BDC3CF" />
        <rect x="25" y="15" width="60" height="10" fill="#BDC3CF" />
        
        <!-- Bullet 2 -->
        <circle cx="15" cy="40" r="5" fill="#BDC3CF" />
        <rect x="25" y="35" width="60" height="10" fill="#BDC3CF" />
        
        <!-- Bullet 3 -->
        <circle cx="15" cy="60" r="5" fill="#BDC3CF" />
        <rect x="25" y="55" width="60" height="10" fill="#BDC3CF" />
    </svg>
</a>
{% endblock special_icon %}