form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3em;
  margin-block: 2.5em;
}
.inputs-group{
  display: flex;
  flex-direction: column;
  gap:3.2em;
  margin-top:2.1em;
}
.account-header{
  font-weight: bold;
  font-size: 36px;
}
.account-submit{
  margin-top: 1.8em;
}


/* profile styles */
.profile-h1{
  margin: 1.5em 0 1.7em 0;
}
.profile-h2{
  font-size: 14px;
  margin-bottom: 2.1em;
}
.profile-h3{
  font-size: 16px;
  margin: 0.6em 0 0.7em 0;
}
.profile-h4{
  margin-bottom: 1.4em;
  font-size: 14px;
}
.worker-card{
  border: 1px solid #2C3E50;
  border-radius: 9px;
  width: 93.6vw;
  margin-inline:auto;
  height: 18em;
}
.profile-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6em 0;
}
.profile-manager-working-time-list{
  overflow: scroll;
  height: 74%;
}
.profile-li-card{
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #2C3E50;
  border-radius: 9px;
  width: 32vw;
  height: 5em;
  align-content: center;
  margin-inline: auto;
}
.profile-workers-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

/* User update style */
.account-label{
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  /* User update style */
  .user-update-account-header{
    font-size: 18px;
  }
  .user-update-inputs-group{
    margin-top:1em;
    gap:1.5em;
  }
  .user-update-submit-button{
    margin:0;
  }
}


@media screen and (min-width: 600px) and (max-width: 900px) {
  form{
    margin-top:9rem;
  }
  
  /* profile styles */
  .profile-manager-working-time-list{
    height: 61%;
  }
  .profile-h1 {
    margin: 1.5em 0 2em 0;
  }
  .profile-h4 {
    margin-bottom: 3.4em;
    font-size: 16px;
  }
  .profile-workers-list{
    height: 55.9vh;
    overflow: scroll;
  }
  .worker-card{
    width: 60vw;
  }
  .profile-li-card{
    width: 20.8vw;
  }
  .profile-worker-working-time-list {
        width: 60.7vw;
        margin-inline: auto;
        height: 51.9vh;
        overflow: scroll;
    }
}

@media screen and (min-width: 900px){
  form{
    margin-top: 28.6vh;
  }
  input{
    width: 37.5vw;
  }
  /*   profile styles */
  .profile-h1{
    margin: 7.3em 0 0 0;
  }
  .profile-h2{
    font-weight: bold;
    font-size: 16px;
    margin: 3em 0;
  }
  .worker-card{
    width: 33.8vw;
  }
  .profile-li-card{
    width: 12.6vw;
  }
  footer{
    margin: 5em 0 2em 0;
  }
  .profile-worker-working-time-list{
    width: 33.8vw;
    height: 43.7vh;
    overflow: scroll;
    margin-inline: auto;
  }
  /* user update  */
  .user-update-submit-button{
    margin-bottom: 9em;
  }
}